/* ROOT COLORS */

:root {
  --main: #01637f;
  --secondary: #0dc1b6;
  --tint: #ff637a;
  --green: #077e8c;
  --gray: #e9eef0;
}

/* GLOBAL */

* {
  font-family: "Spline Sans", sans-serif;
  color: var(--main);
}

body {
  background-color: var(--gray);
}

/* COLORS */

.navbar {
  background-color: var(--secondary) !important;
}

.bg-jumbo {
  background-color: var(--main) !important;
}

.btn-success {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--gray) !important;
}

.btn-success:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--main) !important;
}

.btn-success:focus {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  outline: none !important;
  box-shadow: var(--secondary) !important;
}

.btn-success:active {
  background-color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.btn-success:focus {
  border: none !important;
}

.text-success {
  color: var(--main) !important;
}

.text-danger {
  color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--main) !important;
}

.carousel-inner {
  height: 60% !important;
}

/* TEXT */

#logotxt {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  letter-spacing: 0.2rem;
  color: var(--main);
}

.logoimg {
  height: 40px;
  margin: 0 !important;
  padding: auto !important;
  box-sizing: border-box;
}

#jumbotxt {
  font-size: 5rem;
  font-family: "Cinzel", serif;
  color: var(--tint) !important;
}

#jumbop {
  font-size: 1.2rem;
  font-family: "Cinzel", serif;
  color: var(--secondary) !important;
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

#carousellink {
  color: azure !important;
}

/* Objects */

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-sizer {
  height: 300px;
  width: auto;
}

.footicon {
  transition: ease-out 1s;
}

.footicon:hover {
  color: var(--secondary) !important;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  #logotxt {
    display: none !important;
  }
}

.cardmainpage {
  background-color: rgba(245, 245, 245, 0);
}
.card-headermainpage,
.card-footerpage {
  opacity: 1;
}
