/* ROOT COLORS */

:root {
  --main: #01637f;
  --secondary: #0dc1b6;
  --tint: #ff637a;
  --green: #077e8c;
  --gray: #e9eef0;
}

/* GLOBAL */

* {
  font-family: "Spline Sans", sans-serif;
  color: var(--main);
}

body {
  background-color: var(--gray);
}

/* COLORS */

.navbar {
  background-color: var(--secondary) !important;
  border-bottom: 1px solid var(--green) !important;
}

.bg-jumbo {
  /* background-color: var(--main) !important; */
  padding-top: 10px;
  background: rgb(13, 193, 182) !important;
  background: -moz-linear-gradient(
    180deg,
    rgba(13, 193, 182, 1) 0%,
    rgba(1, 99, 127, 1) 100%
  ) !important;
  background: -webkit-linear-gradient(
    180deg,
    rgba(13, 193, 182, 1) 0%,
    rgba(1, 99, 127, 1) 100%
  ) !important;
  background: linear-gradient(
    180deg,
    rgba(13, 193, 182, 1) 0%,
    rgba(1, 99, 127, 1) 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dc1b6",endColorstr="#01637f",GradientType=1) !important;
}

.btn-success {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--gray) !important;
}

.btn-success:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--main) !important;
}

.btn-success:focus {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  outline: none !important;
  box-shadow: var(--secondary) !important;
}

.btn-success:active {
  background-color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.btn-success:focus {
  border: none !important;
}

.text-success {
  color: var(--main) !important;
}

.text-danger {
  color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--main) !important;
}

.carousel-inner {
  height: 60% !important;
}

/* TEXT */

#logotxt {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  letter-spacing: 0.2rem;
  color: var(--main);
}

#hakotxt {
  font-family: "Cinzel", serif;
  color: --main;
  font-weight: 500;
}

.logoimg {
  height: 57px;
  margin: 0 !important;
  padding: auto !important;
  box-sizing: border-box;
}

#jumbotxt {
  font-size: 5rem;
  font-family: "Cinzel Decorative", cursive;
  color: var(--tint) !important;
  padding-top: 20px;
  text-shadow: 1px 3px var(--main);
}

#jumbop {
  font-size: 1.2rem;
  font-family: "Cinzel", cursive;
  color: var(--secondary) !important;
  /* text-shadow: 1px 1px var(--secondary); */
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

#carousellink {
  color: azure !important;
}

/* Objects */

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-sizer {
  height: 300px;
  width: auto;
}

.img-sizer1 {
  height: 200px !important;
  padding-top: 20px;
}

.footicon {
  transition: ease-out 1s;
}

.footicon:hover {
  color: var(--secondary) !important;
}

#footnav22 {
  margin-top: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  #footnav22 {
    /* /* display: flex !important; */
    display: inline-block !important;
  }
}

@media (max-width: 576px) {
  #foottext {
    border: none !important;
  }
}

.cardmainpage {
  background-color: rgba(245, 245, 245, 0);
}
.card-headermainpage,
.card-footerpage {
  opacity: 1;
}

.nav-link {
  color: var(--green) !important;
}

.activenavlink {
  opacity: 1 !important;
}

#jumbomain {
  border-bottom: 5px var(--green) solid;
  padding-top: 30px;
}

/* .nav-item .active {
  color: var(--tint) !important;
} */

#foottext {
  border-left: var(--secondary) 1px solid !important;
  border-right: var(--secondary) 1px solid !important;
}

hr {
  background-color: var(--secondary) !important;
  border: 1px solid !important;
}

.reviewname {
  margin-bottom: 80px;
}

/* SHOP */

#shophighlight {
  padding: 20px;
}

.img-sizer2 {
  max-height: 400px;
}
